    /*
    @font-face{
        font-family: 'Futura-medium';
        src:url(fonts/Futura.tcc);
    }
    */

    @font-face{
        font-family: 'Avenir';
        src:url(fonts/Avenir.ttc);
    }

    /* Properties for Stock chart box */
    #stock{
        background: #6A6A6A;
        border-radius: 10px;
        /*padding: 10px;*/
        max-height: 230px;
        max-width: 380px;
        /*
        border-width: 10px;
        border-style: solid;
        border-color: white;
        */
    }
    @font-face{
        font-family: 'Arimo', sans-serif;
    }
    /*
    #stock:after{
        content: '';
        height: 100%;
        position: absolute;
        width: 10%;
        background: green;
        top: 0;
        bottom: 0;
        right: 0;
    }*/
    /* Properties for all stock chart box text */
    .symbol, .company, .dates, .multi-symbol, .name{
        font-style: normal;
        color: white;
        font-family: 'Avenir';
        /*font-family: 'Arimo';*/
    }
    /* Properties for Symbols */
    .symbol{
        font-size: 50px;
    }
    .multi-symbol{
        font-size: 50px;
    }
    .name{
        font-size: 18px;
        font-style: italic;
    }
    .dates{
        font-size: 18px;
    }
    #page-title{
        font-size: 75px;
    }

    footer{
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 50px;
        color: white;
        text-align: center;
        background: #9C9A9A;
        font-style: 20px;
    }
    /*
    #toolbar{
        left: 0px;
        right: 0px;
        top: 0px;
        height: 50px;
        position: absolute;
        background: #0A69A5;
        width: 100%;
        font-family: 'Arimo';
    }
    #navbar-element{
        color: white;
        padding: 30px;
        
    }*/

    #toolbar{
        left: 0px;
        right: 0px;
        top: 0px;
        position: absolute;
        background: #9C9A9A;
        width: 100%
    }
    .page-title{
        font-size: 36px;
        text-align: center;
    }
    #navbar-element{
        padding: 30px;
    }

    #plus-sign{
        font-size: 50px;
        font-style: bold;
        background-color: grey;
        text-align: center;
    }

    .login-form{
        text-align: center;
    }

    .axis path {
        fill: none;
        stroke: #777;
        shape-rendering: crispEdges;
    }
    .axis text {
        font-family: Lato;
        font-size: 13px;
    }