    @font-face{
        font-family: 'Avenir';
        src:url(fonts/Avenir.ttc);
    }

    /* Properties for Stock chart box */
    #stock{
        background-color: #6A6A6A;
        border-radius: 10px;
        margin: 5px;
        max-width: 380px;
        height: 230px;
        /*
        border-width: 10px;
        border-style: solid;
        border-color: white;
        */
    }
    /*
    #stock:after{
        content: '';
        height: 100%;
        position: absolute;
        width: 10%;
        background: green;
        top: 0;
        bottom: 0;
        right: 0;
    }*/
    /* Properties for all stock chart box text */
    .symbol, .company, .dates, .multi-symbol, .name{
        font-style: normal;
        color: white;
        font-family: 'Avenir', Verdana, sans-serif;
        /*font-family: 'Arimo';*/
    }
    /* Properties for Symbols */
    .symbol{
        font-size: 36px;
    }
    .multi-symbol{
        font-size: 24px;
    }
    .name{
        font-size: 12px;
        font-style: italic;
    }
    .dates{
        font-size: 12px;
    }
    .page-title{
        margin-top: 75px; 
        font-size: 50px;
        color: black;
        font-family: 'Avenir', Verdana, sans-serif;
    }
    .backgroundSvg{
        fill: white;
        opacity: 25%;
        width: 100%;
        height: 100%;
    }
    .row #bucket{
        margin-bottom: 75px;
    }
    #header{
        left: 0px;
        right: 0px;
        top: 0px;
        height: 50px;
        position: absolute;
        width: 100%;
        font-family: 'Avenir', Verdana, sans-serif;
        color: white;
    }
    .navbar-element{
        color: white;
        padding: 30px;
        text-align: center;
    }
    #plus-sign{
        font-size: 50px;
        font-style: bold;
        color: white;
        text-align: center;
        line-height: 100%;
    }
    #footer{
        left: 0px;
        right: 0px;
        bottom: 0px;
        position: fixed;
        width: 100%;
        height: 25px;
        background: #9C9A9A;
    }
    #chart{
        display: block;
        margin: auto;
    }
    .label{
        margin: 5px;
        text-align: left;
        color: white;
        font-size: 18px;
    }
    #login-form{
        padding: 30px;
        background-color: #6A6A6A;
        border-radius: 10px;
        margin: 0 auto;
        width: 380px;
    }
    footer{
        font-family: 'Avenir', Verdana, sans-serif;
        text-align: center;
        color: white;
        font-size: 12px;
    }
    #navigation-bar{
        line-height: 5px;
        text-align: center;
        background: #0A69A5;
        width: 100%;
    }
    p{
        font-family: 'Avenir', Verdana, sans-serif;    }
    tr{
        padding-left: 30px;
        padding-bottom: 30px;
        padding-top: 10px;
    }
    td{
        padding: 10px;
    }
    table{
        margin: 30px;
        padding: 30px;
        font-family: 'Avenir';
        width: 100%
    }
    h3{
        font-family: 'Avenir', Verdana, sans-serif;
        width: 100%
    }
    input{
        max-width: 120px;
    }

    .axis path {
        fill: none;
        stroke: #777;
        shape-rendering: crispEdges;
    }
    .axis text {
        font-family: Lato;
        font-size: 13px;
    }

    #navlist {
        display: inline-flex;
    }